<div *ngIf="timerService.getTimer(timer.id)?.monitor | async as monitor"
  style="display: flex; flex-direction: column; align-items: center; margin: 1rem;"
>
  <div style="display: grid; place-items: center; height: 2rem;">
    <div *ngIf="monitor?.display">
      <span class="hours">{{ timerService.zeroPad(monitor.display?.hours) }}</span>
      <span class="separator">:</span>
      <span class="minutes">{{ timerService.zeroPad(monitor.display?.minutes) }}</span>
      <span class="separator">:</span>
      <span class="seconds">{{ timerService.zeroPad(monitor.display?.seconds) }}</span>
    </div>
    <ng-container *ngIf="timerService.getTimer(timer.id)?.ended | async as ended">
      <div style="display: flex; flex-direction: column; align-items: center;">
        ended:
      </div>
    </ng-container>
  </div>

  <div style="height: 0.4rem; width: 100rem; max-width: 100%; overflow: hidden; margin-bottom: 1rem; background-color: aqua;">
    <div style="background-color: blue;" [style.width]="monitor.percent + '%'">&nbsp;</div>
  </div>

  <div style="display: flex; gap: 10px;">
    <button mat-flat-button (click)="timerService.start(timer.id)" >start / reset</button>
    <button mat-flat-button (click)="timerService.stop(timer.id)">stop</button>
  </div>
</div>
